<%- include("partials/head", { title }) %>
<%- include("partials/header") %>
<main>
  <!-- implement main content here -->
  <!-- <button id="toggleTheme">🌙</button> -->
</main>
<%- include("partials/footer") %>
<%- include("partials/foot") %>